* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.flex-containerb {
  background-color: #f1f1f1;
}
.flex-container-squared {
    border-radius: 25px;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.flex-containerb > div {
  background-color: DodgerBlue;
}
.flex-container-squared {
    border-radius: 25px;
}